---
const {title} = Astro.props
---

<section class="p-4 sm:py-6 border-b dark:border-neutral-800">
  {title && <h2 class="text-neutral-600 dark:text-neutral-200 text-lg font-semibold">{title}</h2>}
  <slot />
</section>